$transparent-bg: transparent !default;
$text-color: #1D1E37 !default;
$default-bg: #25265F !default;
$private-bg: #5598FF !default;
$button-color: #fff !default;
$button-border-radius: 38px !default;
$info-bg: #4AC9E2 !default;
$success-bg: #37CAA9 !default;
$warning-bg: #F5A623 !default;
$darger-bg: #FF455C !default;
$border-color: #EBEDF3 !default;

$text-input-bg: #EBEDF3 !default;
$text-input-color: #7E7E7E !default;

$card-title-color: #6D71EF !default;
$card-title-font-size: 14px;
$card-subline-color: #555758;
$card-border-radius: 8px !default;
$card-border-color: #EBEDF3;
$card-stats-color: #a9a9a9;

$input-success-border-color: #37CAA9 !default;
$input-error-border-color: #FF455C !default;
$sidebar-width: 280px !default;
$sidebar-color: #fff;
$sidebar-bg: #6D71EF;
$sidebar-sub-menu-bg: lighten($sidebar-bg, 4%);